torch>=2.0.0
transformers>=4.40.0
accelerate>=0.29.0
llama-cpp-python>=0.2.56
langchain>=0.1.13
langchain-community>=0.0.29
psycopg2-binary>=2.9.9
langchain-huggingface>=0.0.4
langchain-postgres>=0.0.3
langchain-core>=0.1.33
sqlalchemy>=2.0.25
